.section_1 {
    background-color: rgba(47, 59, 89, 1)   ;
}

.main__text {
    width: 400px;
    font-family: Space Mono;
font-size: 56px;
font-weight: 700;
line-height: 56px;
letter-spacing: -2.5px;
text-align: left;
color: #fff;
padding-top: 153px;
}