.faqs {
    margin-top: 100px;
    &__title {
        font-family: Space Mono;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -2px;
        text-align: center;
        font-size: 48px;
        color: #495567;
    }
}

.faq-box {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 150px;
}


.faq-box1-title {
    width: 350px;
    font-family: Space Mono;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
    font-size: 40px;
    color: hsl(216, 17%, 35%);
}

.questions {
    display: block;
}

.question1 {
    width: 650px;
    padding: 24px;
    background-color: #F2F5F9;
    border-radius: 3px;
}



.question1-titles {
    display: flex;
    justify-content: space-between;
}

.question1-title {
    margin-bottom: 20px;
    font-family: Space Mono;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1px;
    font-size: 24px;
    color: #495567;
}


.question1-text {
    width: 600px;
    font-family: Lexend Deca;
    font-weight: 400;
    line-height: 25px;
    font-size: 15px;
    color: #495567;
}


.question2 {
    width: 650px;
    padding: 24px;
    margin-top: 20px;
    background-color: #F2F5F9;
    border-radius: 3px;
}

.question2-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 602px;
}

.question2-title {
    font-family: Space Mono;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1px;
    font-size: 24px;
    color: #495567;
}